@model IEnumerable<Futebol.UI.Models.PosicaoVM>

@{
    ViewBag.Title = "Posição";
}

<h2>Posição</h2>

<p>
    @Html.ActionLink("Criar Nova", "Criar")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <strong class="h4">
                            <span class="label label-info">@item.Sigla</span> @item.Descricao
                        </strong>
                    </p>
                    @Html.ActionLink("Detalhar", "Detalhar", new { id = item.PosicaoId }) |
                    @Html.ActionLink("Editar", "Editar", new { id = item.PosicaoId }) |
                    @Html.ActionLink("Remover", "Remover", new { id = item.PosicaoId }, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>
